package http.request;

import "testing";
import "http";

constructor test {
    map<string, Endpoint>
}

constructor harrisonturton {
    map<string, Endpoint>
}

constructor harrisonturton {
    map<string, Endpoint>
}


constructor harrisonturton {
    map<string, Endpoint>
}

constructor test {
    map<string, Endpoint>
}