/**
 * Block documentation comment
 */
rule Testing {
    key: {
        one: "1";
        forwardReference: another;
    };
}

rule another {
    key: {
        one: Test;
        two: Testing;
    };
}

rule another {
}